.App {
 
  border: 2px solid black;
  padding: 30px;
}


.main {
  display: flex;
  
  height: 100vh;
  align-items: center;
  justify-content: center;

}
.pass {
  margin-top: 15px;
  margin-bottom: 15px;
}
